.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
    width: 100%;
    color: var(--theme-white);
    border-top: solid 1px var(--theme-orange);
}