.db-profile-pc {
    height: 104px;
    width: 104px;
}

.dashboard-forum-navbar {
    height: 56px;
    width: 100%;
    border-bottom: solid 1px var(--theme-orange);
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
}