.db-profile-pc {
    height: 104px;
    width: 104px;
}

.dashboard-forum-navbar {
    height: 56px;
    width: 100%;
    border-bottom: solid 1px var(--theme-orange);
}

.post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

.explore-button {
    font-size: 1rem;
}

/* Media Queries */


@media (max-width: 600px) {
    /* Styles for extra-small screens (xs) only */
    .explore-button {
        /* Update styles for extra-small screens only */
        font-size: 0.6rem;
    }
}

@media (min-width: 600px) {
    /*Small Devices*/
    .explore-button {
        font-size: 1rem;
    }
}

@media (min-width: 900px) {

    /*Medium Devices*/
    .explore-button {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {

    /*Large Devices*/
    .explore-button {
        font-size: 1rem;
    }
}

@media (min-width: 1536px) {
    /*Extra Large Devices*/

    .explore-button {
        /* Update styles for extra-large screens */
    }
}