.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}


.hero-container {
    position: relative;
    flex-grow: 1;
    background-image: url('https://i.postimg.cc/1zbWPc3V/Getting-ready.jpg');
    background-size: cover;
    background-position: center;
}

.homepage-hero-image {
    position: relative;
    height: auto;
    width: 100%;
}

.hero-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
    font-size: 64px;
    font-weight: 600;
    color: var(--theme-white);
    text-shadow: 0px 4px 4px 0px #00000040;
}

.C2A-Button:hover {
    background-color: #fe6f10 !important;
}

