.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    display: flex;
    height: 88px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px var(--theme-orange);
}

.logo_name_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    color: var(--theme-white);
}

.sports-fanatic-logo {
    height: 48px;
    width: 48px;
}

.title {
    margin-left: 24px;
    margin-top: 10px;
    font-size: 32px;
}

.nav-container {
    display: flex;
    position: absolute;
    right: 24px;
    margin-top: 8px;
    flex-direction: row;
    gap: 21px;
    color: white;
}

.homepage-links-hover-state:hover {
    cursor: pointer;
    color: var(--theme-orange);
}

.hero-container {
    position: relative;
    flex-grow: 1;
    background-image: url('https://i.postimg.cc/1zbWPc3V/Getting-ready.jpg');
    background-size: cover;
    background-position: center;
}

.homepage-hero-image {
    position: relative;
    height: auto;
    width: 100%;
}

.hero-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
    font-size: 64px;
    font-weight: 600;
    color: var(--theme-white);
    text-shadow: 0px 4px 4px 0px #00000040;
}

.C2A-Button:hover {
    background-color: #fe6f10 !important;
}


.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
    width: 100%;
    color: var(--theme-white);
    border-top: solid 1px var(--theme-orange);
}

.copyright {
    margin-left: 24px;
}