.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login-logo {
    height: 160px;
    width: 160px;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: 'center';
    width: 80%;
    min-width: 104px;
    max-width: 400px;
}

.login-hovered:hover {
    color: var(--theme-white) !important;
}

.create-account-text {
    color: var(--theme-white);
}

.create-account-text:hover {
    color: var(--theme-orange);
    cursor: pointer;
}