.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    border: dashed 1px yellow;
}

.login-logo {
    position: absolute;
    height: 160px;
    width: 160px;
    margin-top: 160px;
}

.login-title {
    position: absolute;
    margin-top: 348px;
    font-size: 48px;
    color: var(--theme-white);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    margin-top: 440px;
    color: var(--theme-white);
}


.sign-in {
    height: 40px;
    width: 380px;
}