.login-link {
    position: absolute;
    top: 24px;
    right: 24px;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 126px;
    border: dashed 1px yellow;
}

.logo {
    position: absolute;
    top: 168px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    width: 160px;
}

.create-account-title {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px !important;
    color: var(--theme-white);
    white-space: nowrap;
}

.create-account-form {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    color: var(--theme-white);
}

.create-account-button {
    margin-top: 16px !important;
    background-color: var(--theme-orange) !important;
}

.create-account-button:hover {
    background-color: #fe6f10 !important
}


.sign-in {
    height: 40px;
    width: 400px;
}