.header-container {
    display: flex;
    flex-shrink: 0;
    height: 88px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px var(--theme-orange);
    overflow: hidden;
}

.logo_name_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    color: var(--theme-white);
}

.sports-fanatic-logo {
    height: 48px;
    width: 48px;
}

.title {
    margin-left: 24px;
    margin-top: 10px;
    font-size: 32px;
}

.nav-container {
    display: flex;
    position: absolute;
    right: 24px;
    margin-top: 8px;
    flex-direction: row;
    gap: 21px;
    color: white;
}

/* Media Queries */

@media (max-width: 600px) {

    /* Styles for extra-small screens (xs) only */
    .header-container {
        height: 48px;
        align-items: center ;
    }

    .logo_name_container {
       margin-left: 16px;
    }

    .sports-fanatic-logo {
        height: 24px;
        width: 24px;
    }

    .title {
        font-size: 1rem;
        margin-top: 8px;
        margin-left: 8px;
    }

    .nav-container {
        display: none;
    }
}

@media (min-width: 600px) {

    /* Styles for small screens (sm) and above */
    .nav-container {
        display: flex;
    }
}

@media (min-width: 900px) {

    /* Styles for medium screens (md) and above */
    .nav-container {
        display: flex;
    }
}

@media (min-width: 1200px) {

    /* Styles for large screens (lg) and above */
    .nav-container {
        display: flex;
    }

}

@media (min-width: 1536px) {

    /* Styles for extra-large screen…[omitted] */
    .nav-container {
        display: flex;
    }
}