.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 88px;
    width: 100%;
    border-top: solid 1px var(--theme-orange);
    overflow: hidden;
}

.footer-nav-container {
    display: flex;
    position: absolute;
    right: 24px;
    flex-direction: row;
    gap: 21px;
}


.copyright {
    margin-left: 24px;
}

/* Media Queries */
@media (max-width: 600px) {
    /* Styles for extra-small screens (xs) only */
    .footer-container {
        height: 48px;
    }
    .copyright {
        font-size:xx-small;
    }
    .footer-nav-container {
        font-size: xx-small;
    }
}
@media (min-width: 600px) {
    /* Styles for small screens (sm) and above */
}
@media (min-width: 900px) {
    /* Styles for medium screens (md) and above */
}
@media (min-width: 1200px) {
    /* Styles for large screens (lg) and above */
}
@media (min-width: 1536px) {
    /* Styles for extra-large screen…[omitted] */
}
