.footer-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    height: 88px;
    width: 100%;
    color: var(--theme-white);
    border-top: solid 1px var(--theme-orange);
    overflow: auto;
}


.copyright {
    margin-left: 24px;
}