.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 88px;
    width: 100%;
    border-top: solid 1px var(--theme-orange);
    overflow: auto;
}

.footer-nav-container {
    display: flex;
    position: absolute;
    right: 24px;
    flex-direction: row;
    gap: 21px;
}


.copyright {
    margin-left: 24px;
}