:root {
  --theme-blue: #000F19;
  --theme-orange: #F26101;
  --theme-white: #FFFFFF;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--theme-blue);
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--theme-white);
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--theme-white);
}

a:-webkit-any-link:hover {
  cursor: pointer;
  color: var(--theme-orange);
}