:root {
  --theme-blue: #000F19;
  --theme-orange: #F26101;
  --theme-white: #FFFFFF;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--theme-blue);
  margin: 0;
}