:root {
  --theme-blue: #000F19;
  --theme-orange: #F26101;
  --theme-white: #FFFFFF;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--theme-blue);
  margin: 0;
}

a:-webkit-any-link {
  color: var(--theme-white);
  text-decoration: none;
}

a:-webkit-any-link:hover {
  cursor: pointer;
  color: var(--theme-orange);
}
